.navbar{
    background-color: #ced;
    padding: 7px;
    text-align: center;
}
.menu{
    color: blue;
    text-decoration: none;
    padding: 2px 5px;
}
.active-menu{
    color: red;
    background-color:yellow;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
}